body { 
  background-color:#1b1b32;
  font-family: sans-serif;
  padding: 20px;
}
label {
  display:block;
  margin: 0.5rem 0;
}
.survey {
  width: 70%;
  background-color: #1b3b32;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  color:#ffffff;
}
